<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
	  <div class="row">
		<div class="col-sm-4">
			
		  <p>&copy 2019 DANDI</p>
		  <p>Site adapted from
			  <a href="https://github.com/mpa139/allanlab">Allan Lab</a>.
			  <a href="{{ site.url }}{{ site.baseurl }}/aboutwebsite.html"> Details here.</a>
     	  </p>
		</div>
		<div class="col-sm-4">
		  Funding:<br />
		  - <a href="https://braininitiative.nih.gov/">BRAIN Initiative</a><br />
		  - <a href="https://www.nimh.nih.gov/index.shtml">NIMH</a><br />
			<p></p>
		</div>
		<div class="col-sm-4">
		  Contact: <br />
			- info at dandiarchive dot org<br />
			- twitter: <a href="https://twitter.com/dandiarchive">@dandiarchive</a><br />
			- GitHub: <a href="https://github.com/dandi">github.com/dandi</a><br />
			<p></p>
		</div>
	  </div>
	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
