<div class="home-banner">
  <div class="container-fluid">
    <div class="banner-text col-sm-8">
      <h1>DANDI: Distributed Archives for Neurophysiology Data Integration</h1>
      <p>DANDI is a platform for publishing, sharing, and processing neurophysiology data funded by
        the <a href="https://braininitiative.nih.gov/" target="_blank">BRAIN Initiative</a>.
        The platform is under construction with a public beta scheduled for March 2020. If
        you would like to be informed please
        <a href="https://mailchi.mp/7c90915cdcc3/dandi-newsletter-signup" target="_blank">
          sign up for our newsletter</a></p>
    </div>
    <div id="newsid" class="col-sm-4" >
      {% include news.html %}
    </div>
  </div>
</div>
